/24_09_19/Bai tap ve nha/Bai1/nbproject/private/
/24_09_19/Bai tap ve nha/Bai1/build/
/24_09_19/Bai tap ve nha/Bai2/nbproject/private/
/24_09_19/Bai tap ve nha/Bai2/build/
/24_09_19/Bai tap ve nha/Bai2/dist/
/24_09_19/Bai tap ve nha/Bai3/nbproject/private/
/24_09_19/Bai tap ve nha/Bai3/build/
/24_09_19/Bai tap ve nha/Bai4/nbproject/private/
/24_09_19/Bai tap ve nha/Bai4/build/